**/ansible-navigator.log
**/navigator-output/
**/ansible-builder.log
**/vault*.yml
sean_login_info.yml
.DS_Store
choose_demo.yml
choose_demo_example_azure.yml
choose_demo_example_aws.yml
.ansible.cfg
*.gz
*artifact*.json
roles/*
!roles/requirements.yml
.deployment_id
.cache/
.ansible/
**/tmp/
execution_environments/context/

.DS_Store# Ignore macOS system files
.DS_Store

# Ignore node_modules directory
node_modules/

# Ignore build output
www/
.cache/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore sensitive or private information
secrets.json

# Ignore compiled binaries or executables
*.exe
*.dll
*.so
*.dylib
*.core

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock

**/venv
**/.venv
ansible.cfg
**/.ansible/
.DS_Store
.lock
.venv
**/.vscode
**/.devcontainer
**/devcontainer.json
